.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  color: #007bff;
  padding: 10px 20px;
  border: 1px solid #007bff;
}

.navLink {
  list-style: none;
  display: flex;
  gap: 20%;
  margin: 0;
  padding: 0;
}

.navItem {
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
  transition: color 0.3 ease;
}

.navItem:hover {
  color: #4caf50;
}
