.services {
  padding: 40px 20px;
  background-color: #e9ecef;
  color: #333;
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20%;
}

.card {
  border: 1px #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  width: 300px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cardTitle {
  font-weight: bold;
  font-size: 1.5rem;
  color: #007bff;
}

.cardDescription {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
}
